<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="actions" type="DigialMaketingLauncher.ActionsSection, DigialMaketingLauncher" />
  </configSections>

  <actions>
    <action Name="IngestBounce"  Url="api/Ingest/Adobe/Bounce" Type ="Get"  ExecHour="15" ExecMinute="54" />
  </actions>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="BaseAddress" value="http://localhost:5000/" />
    <add key="logFolder" value="C:\_CRM365\DigitalMarketingPlatform\Log" />
  </appSettings>

</configuration>