<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="actions" type="DigialMaketingLauncher.ActionsSection, DigialMaketingLauncher" />
  </configSections>

  <actions>
    <action Url="api/Ingest/PassStacking/IngestPricePlan"  ExecHour="12" ExecMinute="31" />
    <action Url="api/Extract/PassStacking/UserEligibilitySonic"  ExecHour="12" ExecMinute="32" />
  </actions>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="BaseAddress" value="https://localhost:44313/" />
    <add key="logFolder" value="C:\_CRM365\PassStacking\Log" />
  </appSettings>

</configuration>